
body{
    margin: 0;
    padding: 0;
    background-color: lightgray;
}
.details-container 
{
    margin: 1rem auto;
    background-color: white;
    position: relative;
    border-radius: 5px;
    width: 60%;
    height: max-content;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    max-width: 900px;

}

.det-content
{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.det-item{
    width: 100%;
    height: fit-content;
    margin-top: 0.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;

}

.det-item img{
    width:60%;
    height: auto;
}
.det-car-rates
{
    width: 100%;
    height: fit-content;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    background-color: rgb(197, 234, 255);

}
.rate-per-day,
.rate-per-hour,
.rate-per-km
{
    padding-right: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.det-car-rates label{
    color: rgb(16, 108, 230);
    border-bottom: 1px solid rgb(16, 108, 230);
}
.det-car-stock{
    margin: 1rem auto;
    color: green;
    font-size: medium;
}
.det-car-brand{
    font-size: x-large;
}
.det-rent-btn{
    padding: 0.4rem 1.5rem;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    color: white;
    border: none;
    border-radius: 3px;
    background-color: #05ad3d;
    margin-right: 1rem;
}

.rate{
    margin-top: 0.3rem;
}