
.reg-content {
    margin: 1rem auto;
    background-color: white;
    position: relative;
    border-radius: 5px;
    width: 60%;
    height: max-content;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    
}

.reg-title {
    height: fit-content;
    padding-bottom:1rem ;
    float: left;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px groove rgb(255, 255, 255);
}
.reg-items
{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.reg-item
{
    width: 70%;
    display: flex;
    flex-direction: row;
    padding :0.8rem;
    align-items: center;
    justify-content: flex-end;
}
.item-error
{
    width: 70%;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.gender-opt
{
    width: 100%;
    display: inline-block;
}
.reg-item p{
    width: fit-content;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
.reg-item input:not([type="radio"]){

    width: 70%;
    padding: 0.3rem;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-bottom: 1.5px solid lightgray;
    margin-left: 1rem;
}
.reg-item input:focus{
  outline: none;
}

.reg-cancel,.reg-register
{
    padding: 0.4rem 1rem;
    /* margin:0 0.3rem; */
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
    color: white;
    border: none;
    border-radius: 3px;
}

.reg-cancel
{
    color: black;
    background-color: white;
}

.reg-register{
    color:white;
    background-color: #3692f3;
}
.reg-item input[type="radio"]{

    width: 18%;
}
.reg-btns{
    width: 40%;
    display: block;
    float: right;
}
.reg-btns a{
    width: 45% !important;
    display: block;
    float: left;
}
.reg-btns>input{
    width: 45% !important;
    display: block;
    float: right;
}

.error-msg{
    font-size: smaller;
    color: red;
}
form .error {
    color: #ff0000;
  }