.rent-rent-btn-red
{
    background-color: rgb(233, 41, 41);
}
.cart-container 
{
    margin: 1rem auto;
    background-color: white;
    position: relative;
    border-radius: 5px;
    width: 70%;
    height: max-content;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    max-width: 900px;

}
.rent-content {
    margin: 1rem auto;
    /* background-color: white; */
    position: relative;
    border-radius: 5px;
    width: 100%;
    height: max-content;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19); */
    display: flex;
    flex-direction: column;
    
}
.rent-item{
    width: 100%;
    height: fit-content;
    margin-top: 0.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;

}
.form-item
{
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;

}
.rent-item input:focus{
    outline: none;
  }
.rent-car-brand{
    font-size: x-large;
}
.rent-item img{
    width:70%;
    height: auto;
}
.rent-car-stock{
    margin: 1rem auto;
    color: green;
    font-size: medium;
}
.rent-rent-btn,.rent-rent-btn-red{
    padding: 0.4rem 1.5rem;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    color: white;
    border: none;
    border-radius: 3px;
    margin-right: 1rem;
}
.rent-rent-btn
{
    background-color: #05ad3d;
}
.modes,.rent-pricing
{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.modes input
{
    margin-left: 1rem;
}
.rent-pricing input
{
    width: 25%;
    padding: 0.3rem;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-bottom: 1.5px solid lightgray;
    margin-right: 0.5rem;


}
.rent-label
{
    transform: translate(60%,0);
}