*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body
{
    background-color: #eeeeee;

}


.navbar
{
    width: 100%;
    background-color: white;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);

    
}

.brand-name
{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}
.left,.right
{
    width: 50%;
}

.left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}



.signin-btn,.register-btn,.logout-btn
{
    padding: 0.4rem 1rem;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    color: white;
    border: none;
    border-radius: 3px;
}
.left .nav-item a
{
    font-size: medium;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    margin-left: 2rem;
}
.nav-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.image
{
    height: 3rem;
    margin-right: 0.3rem;
}
.signin-btn{
    background-color: #a01daf;
    margin-right: 1rem;

}
.register-btn{
    background-color: #3692f3;
    margin-right: 1rem;

}
.logout-btn{
    background-color: rgb(236, 44, 44);
    margin-right: 1rem;

}
.cars-container{
    padding: 0.5rem;
    width: 100%;
    height: max-content;
    display: inline-block;
}
.wrapper{
    margin: 0 auto;
    width: 80%;
    max-width: 900px;
}
.car-box
{
    display:inline-block;
    margin:0.5rem;
    padding: 1rem;
    width:31%;
    background-color:white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);

}
.car-info,.car-btns{
    display:flex;
    align-items: center;
    justify-content: center;
}
.car-info{
flex-direction: column;
}
.car-btns{
    flex-direction: row;
}
.car-info p,img ,label:nth-child(0){
    padding-bottom: 1rem;
}
.details-btn,.rent-btn{
    padding: 0.4rem 1rem;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    color: white;
    border: none;
    border-radius: 3px;
}
.details-btn{
    background-color: #3692f3;
    margin-right: 1rem;

}
.rent-btn{
    background-color: #05ad3d;
    margin-right: 1rem;

}
.car-image{
    width:100%;
    height:25vh;
}
.car-stock{
    color: green;
    font-size: medium;
}
.car-brand{
    font-size: x-large;
}
.user-icon
{
    margin-left: 90%;
    padding-top: 0.4rem;
    margin-bottom: 0;
    padding-bottom: 0;
}
.user-label
{
    margin-right: 1rem;
}

